@import "../../styles/global.scss";

.collections-section__get-started {
  cursor: pointer;
  font-size: 60%;
  color: map-get($light-theme, "grey");
  text-align: center;
  padding: 5%;
}

.collections-section__header {
  padding: 2% 0%;
  font-weight: 900;
  // letter-spacing: 3px;
  display: flex;
  font-size: 70%;

  span {
    &:first-child {
      flex: 3;
      font-weight: 900;
    }
    &:last-child {
      flex: 1;
      text-align: right;
      cursor: pointer;
      font-weight: 900;
      color: map-get($light-theme, "blue");
    }
  }
}
.collections-section__list {
  height: 13vh;
  overflow-y: scroll;
  ul {
    // list-style: square;
    li {
      font-size: 80%;
      text-transform: capitalize !important;
      padding-left: 3%;
      color: map-get($light-theme, "grey");
      &::before {
        display: inline-block;
        height: 10px;
        width: 10px;
        background: map-get($light-theme, "grey");
        border-radius: 100%;
        margin-right: 5%;

        content: " ";
        // margin: 5% 0%;
      }
    }
  }
}
.current-collection {
  font-weight: 900;
}
