.task-details-section {
  position: relative;
}
.edit-task-icon-section {
  position: absolute;
  display: flex;
  top: -5px;
  right: 0px;
  img {
    flex: 1;
    margin-right: 10%;
  }
}
.task__title {
  font-weight: 600;
}
.task__description {
  font-size: 80%;
}
.task__body {
  margin-top: 5%;
}
