@import "../../styles/global.scss";
.profile-card {
  padding: 15% 5%;
}
.profile-card__img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  display: block;
}
.profile-card__profile-text {
  font-size: 80%;
  span:last-child {
    font-size: 70%;
  }
  span {
    font-weight: 900;
    display: block;
  }
}
.progress-section {
  padding: 5%;
  margin-top: 5%;
  border-bottom: 2px solid map-get($light-theme, "grey");
}
.progress-section__bar {
  span {
    display: block;
    margin-bottom: 3%;
    text-align: right;
    font-size: 50%;
  }
}
.stats-section {
  margin: 10% 0%;
  text-align: center;
  display: flex;
  font-size: 80%;
  div {
    flex: 1;
    span:last-child {
      font-size: 50%;
    }
    span {
      display: block;
      font-weight: 600;
    }
  }
}
.dashboard-cta-section {
  margin-top: 15%;
}
