@import "../../styles/global.scss";
.dashboard-header-section {
  padding: 3%;
  width: 100%;
  display: flex;
  justify-items: end;
  border-left: 3px solid map-get($light-theme, "blue");
  h5 {
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 80%;
    text-transform: uppercase;
    flex: 1;
  }
  span {
    flex: 1;
    // display: none;
    text-align: right;
    color: map-get($light-theme, "blue");
    font-size: 70%;
    cursor: pointer;
  }
}
